.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}
.cabecalho .ossos{
    height: 30px;
    width: 30px;
}
.dinossauro-slider{
    display: flex;
}
img{
    height: 300px;
}